@use "../common";

@mixin root {
  position: fixed;
  z-index: 3;
  inset: 2vw 17.5vw;

  &,
  a,
  i,
  label,
  select {
    color: var(--color-text);
  }

  br + br,
  div.optsExtra + br,
  #booleanOptionsNormal + br,
  #optionMore {
    display: none;
  }

  .optsExtra {
    display: block !important;
  }

  #booleanOptionsNormal,
  #booleanOptionsExtra {
    display: grid;
    grid-template-columns: calc(var(--font-size-base) + var(--spacing-base)) auto 1fr 1fr;
    align-items: start;

    input[type="checkbox"] {
      grid-column: 1 / 2;
      margin-top: calc(var(--font-size-base) * 0.05);

      & + label {
        grid-column: 2 / 3;
      }
    }
  }
}
