:root {
  --color-background: light-dark(hsl(0deg 33% 97%), hsl(0deg 3% 6%));
  --color-text: light-dark(hsl(0deg 3% 6%), hsl(0deg 33% 97%));

  /* color-scheme: light dark; */
  color-scheme: dark;
}

body {
  display: grid;
  grid-template-columns: 14vmin 1fr;

  margin: 0;
  padding: 0;

  font-family:
    -apple-system,
    blinkmacsystemfont,
    "Segoe UI",
    roboto,
    oxygen-sans,
    ubuntu,
    cantarell,
    "Helvetica Neue",
    sans-serif;
  color: var(--color-text);

  background-color: var(--color-background);

  .icon {
    user-select: none;

    display: grid;
    grid-column: 1/3;
    grid-template-columns: subgrid;
    gap: 1vmin;

    opacity: 0.5;

    transition: opacity 1s;

    .sample {
      display: inline-block;
      align-items: center;
      justify-content: center;

      min-width: 7vmin;
      min-height: 7vmin;
      padding: 2vmin;

      font-size: 1vmin;
      line-height: 1vmin;
      color: transparent;
      text-align: center;
      text-shadow: 0 1vmin 0 white, 0 -1vmin 0 black;

      background-repeat: no-repeat;
      background-size: contain;
    }

    .info {
      position: relative;

      display: flex;
      grid-column: 2/3;
      flex-direction: column;
      align-items: start;

      padding: 1vmin;

      font-size: 2vmin;
      line-height: 2vmin;

      .theme-id {
        position: absolute;
        top: 0;
        left: 0;

        padding-right: 1vmin;

        font-family: monospace;
        font-size: 9vmin;
        font-weight: 900;
        line-height: 9vmin;

        opacity: 0.15;

        transition: all 1s;
      }

      a.material-id {
        max-height: 2vmin;

        font-family: monospace;
        font-size: 1vmin;
        line-height: 1vmin;
        color: var(--color-text);
        text-decoration: none;

        opacity: 0.6;

        &:hover {
          opacity: 1;
        }

        &:visited {
          color: var(--color-text);
        }
      }

      .usage {
        display: list-item;
      }
    }

    &:hover,
    &.marked {
      opacity: 1;

      .info .theme-id {
        padding-left: 25%;
      }
    }
  }
}
