@use "sass:map";
@use "../behaviors";
@use "../common";
@use "../icons";

@mixin checkbox {
  margin: 0;
  vertical-align: middle;
  appearance: none;

  @include common.icon-instead(map.get(icons.$icons, "checkboxDisabled"));
  @include behaviors.icon-button;

  &:checked {
    @include common.icon-instead(map.get(icons.$icons, "checkboxEnabled"));
  }
}

@mixin checkbox-label {
  color: var(--color-text);
  vertical-align: middle;

  @include behaviors.text-button;
}

@mixin select {
  margin: 0;
  border: 1px solid var(--color-background);

  color: var(--color-text);
  vertical-align: middle;

  background-color: var(--color-background-step);
}

@mixin dialog {
  overflow-y: scroll;
  padding: 2vw 4vw;
  background-color: var(--color-background-step);
  filter: drop-shadow(0 0 10vw rgb(0 0 0));

  input[type="checkbox"] {
    @include checkbox;

    & + label {
      @include checkbox-label;
    }
  }

  select {
    @include select;

    & + a {
      vertical-align: middle;

      @include behaviors.icon-button;
    }
  }
}
