@mixin icon-button($opacity-base: 0.6) {
  cursor: pointer;
  user-select: none;

  opacity: $opacity-base;

  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0.6;
  }

  to {
    opacity: 1;
  }
}

@mixin icon-button-pulse($opacity-base: 0.6) {
  @include icon-button($opacity-base);

  & {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    &:hover {
      opacity: 1;

      animation-play-state: paused;
    }
  }
}
