@use "sass:list";

@mixin icon-before($icon, $column: null, $row-start: null, $row-end: $row-start + 1) {
  &::before {
    @include icon-instead($icon);

    content: "";
    grid-column: $column;
    grid-row: list.slash($row-start, $row-end);
  }
}

@mixin icon-instead($icon) {
  @include icon($icon);

  font-size: 0 !important;
}

@mixin icon($icon) {
  display: inline-block;

  width: var(--font-size-base);
  height: var(--font-size-base);

  line-height: var(--font-size-base);

  background-image: $icon;
  background-repeat: no-repeat;
  background-size: contain;
}

$debug-colors:
  hsl(300deg 100% 50%),
  hsl(240deg 100% 50%),
  hsl(180deg 100% 50%),
  hsl(120deg 100% 50%),
  hsl(60deg 100% 50%),
  hsl(0deg 100% 50%);

@mixin debug-marker($index: 1) {
  border: 1px solid black !important;
  color: black !important;
  background-color: list.nth($debug-colors, $index) !important;
  outline: 1px solid white !important;

  &:hover {
    border: 1px dotted list.nth($debug-colors, $index) !important;
    background-color: white !important;
    outline: 1px dashed list.nth($debug-colors, $index) !important;
  }
}
