@use "theme-reset";
@use "game";
@use "top-bar";

:root {
  --hue: 33;
  --color-primary-dark: hsl(var(--hue) 64% 67%);
  --color-primary-dim-dark: hsl(var(--hue) 50% 50%);
  --color-primary-light: darkslategray;
  --color-primary-dim-light: darkslategray;
  --color-primary-a128-dark: hsl(var(--hue) 64% 67% / 50%);
  --color-primary-a128-light: hsl(204deg 64% 67% / 50%);
  --color-positive-dark: hsl(128deg 64% 67%);
  --color-positive-light: darkslategray;
  --color-negative-dark: hsl(4deg 64% 67%);
  --color-negative-light: darkslategray;
  --color-primary: light-dark(var(--color-primary-light), var(--color-primary-dark));
  --color-primary-dim: light-dark(var(--color-primary-dim-light), var(--color-primary-dim-dark));
  --color-primary-a128: light-dark(var(--color-primary-a128-light), var(--color-primary-a128-dark));
  --color-positive: light-dark(var(--color-positive-light), var(--color-positive-dark));
  --color-negative: light-dark(var(--color-negative-light), var(--color-negative-dark));
  --hue-text: 240;
  --color-text-dark: hsl(var(--hue-text) 0% 99%);
  --color-text-light: darkslategray;
  --color-text-dim-dark: hsl(var(--hue-text) 0% 66%);
  --color-text-dim-light: darkslategray;
  --color-text-dimmer-dark: hsl(var(--hue-text) 0% 33%);
  --color-text-dimmer-light: darkslategray;
  --color-text-dimmest-dark: hsl(var(--hue-text) 0% 16.5%);
  --color-text-dimmest-light: darkslategray;
  --color-text: light-dark(var(--color-text-light), var(--color-text-dark));
  --color-text-dim: light-dark(var(--color-text-dim-light), var(--color-text-dim-dark));
  --color-text-dimmer: light-dark(var(--color-text-dimmer-light), var(--color-text-dimmer-dark));
  --color-text-dimmest: light-dark(var(--color-text-dimmest-light), var(--color-text-dimmest-dark));
  --color-text-a128: hsla(var(--color-text), 50%);
  --color-text-a64: hsla(var(--color-text), 25%);
  --color-text-a32: hsla(var(--color-text), 12.5%);
  --hue-background: 0;
  --color-background-dark: hsl(var(--hue-background) 0% 0%);
  --color-background-light: hsl(45deg 53% 88%);
  --color-background: light-dark(var(--color-background-light), var(--color-background-dark));
  --hue-resource-rarity: var(--hue);
  --color-resource-rare0-dark: hsl(var(--hue-resource-rarity) 100% 50%);
  --color-resource-rare0-light: darkslategray;
  --color-resource-rare1-dark: hsl(var(--hue-resource-rarity) 50% 50%);
  --color-resource-rare1-light: darkslategray;
  --color-resource-rare2-dark: hsl(var(--hue-resource-rarity) 25% 50%);
  --color-resource-rare2-light: darkslategray;
  --color-resource-rare3-dark: hsl(var(--hue-resource-rarity) 25% 65%);
  --color-resource-rare3-light: darkslategray;
  --color-resource-rare4-dark: hsl(var(--hue-resource-rarity) 12.5% 65%);
  --color-resource-rare4-light: darkslategray;
  --color-resource-rare5-dark: hsl(var(--hue-resource-rarity) 12.5% 80%);
  --color-resource-rare5-light: darkslategray;
  --color-resource-metallic0-dark: hsl(0deg 0% 50%);
  --color-resource-metallic0-light: gray;
  --color-resource-radioactive0-dark: hsl(100deg 100% 50%);
  --color-resource-radioactive0-light: green;
  --color-resource-radioactive1-dark: hsl(100deg 50% 50%);
  --color-resource-radioactive1-light: green;
  --color-resource-science0-dark: hsl(194deg 100% 50%);
  --color-resource-science0-light: darkblue;
  --color-resource-science1-dark: hsl(194deg 100% 75%);
  --color-resource-science1-light: lightblue;
  --color-resource-rare0:
    light-dark(
      var(--color-resource-rare0-light),
      var(--color-resource-rare0-dark)
    );
  --color-resource-rare1:
    light-dark(
      var(--color-resource-rare1-light),
      var(--color-resource-rare1-dark)
    );
  --color-resource-rare2:
    light-dark(
      var(--color-resource-rare2-light),
      var(--color-resource-rare2-dark)
    );
  --color-resource-rare3:
    light-dark(
      var(--color-resource-rare3-light),
      var(--color-resource-rare3-dark)
    );
  --color-resource-rare4:
    light-dark(
      var(--color-resource-rare4-light),
      var(--color-resource-rare4-dark)
    );
  --color-resource-rare5:
    light-dark(
      var(--color-resource-rare5-light),
      var(--color-resource-rare5-dark)
    );
  --color-p0: var(--color-resource-rare0);
  --color-p1: var(--color-resource-rare1);
  --color-p2: var(--color-resource-rare2);
  --color-p3: var(--color-resource-rare3);
  --color-resource-metallic0:
    light-dark(
      var(--color-resource-metallic0-light),
      var(--color-resource-metallic0-dark)
    );
  --color-resource-radioactive0:
    light-dark(
      var(--color-resource-radioactive0-light),
      var(--color-resource-radioactive0-dark)
    );
  --color-resource-radioactive1:
    light-dark(
      var(--color-resource-radioactive1-light),
      var(--color-resource-radioactive1-dark)
    );
  --color-resource-science0:
    light-dark(
      var(--color-resource-science0-light),
      var(--color-resource-science0-dark)
    );
  --color-resource-science1:
    light-dark(
      var(--color-resource-science1-light),
      var(--color-resource-science1-dark)
    );

  // Text
  --font-family:
    -apple-system,
    blinkmacsystemfont,
    "Segoe UI",
    roboto,
    oxygen-sans,
    ubuntu,
    cantarell,
    "Helvetica Neue",
    sans-serif;
  --font-size-largest: calc(var(--font-size-base) * 1.6);
  --font-size-larger: calc(var(--font-size-base) * 1.4);
  --font-size-large: calc(var(--font-size-base) * 1.2);
  --font-size-base: 2vw;
  --font-size-small: calc(var(--font-size-base) * 0.8);
  --font-size-smaller: calc(var(--font-size-base) * 0.6);
  --font-size-smallest: calc(var(--font-size-base) * 0.4);
  --font-size-tiny: calc(var(--font-size-base) * 0.2);

  // Spacing between elements
  --spacing-base: calc(var(--font-size-base) * 0.1);
  --spacing-more: calc(var(--font-size-base) * 0.2);
  --spacing-most: calc(var(--font-size-base) * 0.3);

  color-scheme: light dark;
}

* {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--color-text);
  background: transparent;
}

html {
  margin: 0;
  padding: 0;

  body {
    display: flex;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: var(--color-background);

    #gamePageContainer {
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }
  }
}

#topBar {
  @include top-bar.root;
}

#game {
  @include game.root;
}

#footerLinks {
  display: none !important;
}

.kitten-scientists {
  position: fixed;
  top: calc(var(--font-size-base) * 3.8);
  right: 0;
  bottom: calc(100vh - var(--font-size-base) * 4);

  overflow-y: scroll;

  margin: 0;
  padding: 0;
}
