@use "column-left/column-left";
@use "column-mid/column-mid";
@use "column-right/column-right";
@use "tooltip/tooltip";

@mixin root {
  display: flex;

  flex-flow: row wrap;

  padding: 0 1vmin;

  overflow: hidden;

  font-family: var(--font-family);
  font-size: var(--font-size-base);

  // Highlighting, from mouse-over on buildings.
  &:has(.Bonfire:hover) {
    .res-row:not(.highlited) {
      opacity: 0.6;
    }
  }

  @each $mod in "-all", "-25", "-5" {
    &:has(#midColumn .dropdown-link[title="[#{$mod}]"]:hover) {
      #tooltip .tooltip-inner .tooltip-divider {
        color: var(--color-negative);

        &::after {
          display: inline-block;

          margin-left: var(--font-size-base);

          color: var(--color-negative);

          content: $mod;
        }
      }
    }
  }

  &:has(#midColumn .unassignLink:hover) {
    #tooltip .tooltip-inner .tooltip-divider {
      color: var(--color-negative);

      &::after {
        display: inline-block;

        margin-left: var(--font-size-base);

        color: var(--color-negative);

        content: "-1";
      }
    }
  }

  @each $mod in "+all", "+25", "+5" {
    &:has(#midColumn .dropdown-link[title="[#{$mod}]"]:hover) {
      #tooltip .tooltip-inner .tooltip-divider {
        color: var(--color-positive);

        &::after {
          display: inline-block;

          margin-left: var(--font-size-base);

          color: var(--color-positive);

          content: $mod;
        }
      }
    }
  }

  &:has(#midColumn .assignLink:hover) {
    #tooltip .tooltip-inner .tooltip-divider {
      color: var(--color-positive);

      &::after {
        display: inline-block;

        margin-left: var(--font-size-base);

        color: var(--color-positive);

        content: "+1";
      }
    }
  }

  #leftColumn {
    @include column-left.root;
  }

  #midColumn {
    @include column-mid.root;
  }

  #rightColumn {
    @include column-right.root;
  }

  #toggleCenter {
    display: none;
  }

  #tooltip {
    @include tooltip.root;
  }
}
