@use "column-left/column-left";
@use "column-mid/column-mid";
@use "column-right/column-right";
@use "tooltip/tooltip";

@mixin root {
  display: flex;

  flex-flow: row wrap;

  padding: 0 1vmin;

  overflow: hidden;

  font-family: var(--font-family);
  font-size: var(--font-size-base);

  // Highlighting, from mouse-over on buildings.
  &:has(.Bonfire:hover) {
    .res-row:not(.highlited) {
      opacity: 0.6;
    }
  }

  #leftColumn {
    @include column-left.root;
  }

  #midColumn {
    @include column-mid.root;
  }

  #rightColumn {
    @include column-right.root;
  }

  #toggleCenter {
    display: none;
  }

  #tooltip {
    @include tooltip.root;
  }
}
