@use "sass:map";
@use "behaviors";
@use "common";
@use "icons";

@mixin root {
  display: flex;
  flex-direction: row;

  max-width: 98vw;

  font-family: var(--font-family);
  font-size: var(--font-size-base);

  a {
    color: var(--color-text);
  }

  .toolbarIcon div {
    color: var(--color-text);
  }

  > div:first-child {
    overflow: visible !important;
    display: flex;
    flex-direction: column;

    width: 9em;
    min-width: initial !important;
    max-width: initial !important;
    padding-left: 0 !important;

    text-overflow: initial !important;

    > span {
      font-size: calc(var(--font-size-base) / 1.6) !important;
      font-style: italic;
      line-height: calc(var(--font-size-base) / 1.6 / 2) !important;
      text-align: left;
      text-wrap: nowrap;

      opacity: 0.6;

      &.gameTitle {
        font-size: calc(var(--font-size-base) * 1.5) !important;
        font-style: normal;
        line-height: calc(var(--font-size-base) * 1.5) !important;
        color: var(--color-primary);
        text-align: left;

        opacity: 1;
      }

      a.copyright {
        font-size: calc(var(--font-size-base) / 1.6);
        color: var(--color-text);
      }
    }

    > a {
      display: none;
    }

    #motd {
      display: none;
    }

    // Game version selector.
    > span:last-child {
      display: none;
    }
  }

  #devPanel {
    display: none !important;
    padding-left: 0 !important;
    font-size: initial !important;
  }

  #headerLinks {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;

    #autosaveTooltip {
      display: none;
    }

    #saveTooltip {
      display: none;
    }

    #headerToolbar {
      display: flex;
      flex-direction: column;
      padding-top: 0 !important;
      font-size: initial !important;

      > :first-child::before {
        content: "";
      }

      .icons-container {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-between;

        .toolbarIcon {
          display: flex;

          > div {
            // Equal to the size of the embedded SVGs.
            line-height: 2vw;
          }
        }

        // MOTD button
        .toolbarIcon.null {
          display: none;
        }

        // KGNet Login button
        .toolbarIcon.undefined span.kgnet-login-link {
          color: var(--color-text);
          animation: none;
        }

        .toolbarIcon.pollutionIcon {
          @include common.icon-before(map.get(icons.$icons, "pollution"));
        }

        .toolbarIcon.happiness {
          @include common.icon-before(map.get(icons.$icons, "happiness"));
        }

        .toolbarIcon.energy {
          @include common.icon-before(map.get(icons.$icons, "energy"));
        }

        .toolbarIcon.sorrow {
          @include common.icon-before(map.get(icons.$icons, "sorrow"));

          &.max div {
            color: var(--color-text) !important;
          }
        }

        .toolbarIcon.undefined {
          .kgnet-login-link {
            display: none;
          }

          &:has(.status-indicator-offline) {
            @include common.icon-instead(map.get(icons.$icons, "saveCloud"));
            @include behaviors.icon-button;
          }
        }
      }
    }
  }

  .links-block {
    display: flex !important;
    align-items: center;
    padding-top: 0 !important;

    // Hide separators.
    font-size: 0;

    // Save game
    #save-link {
      @include common.icon-instead(map.get(icons.$icons, "saveUpdate"));
      @include behaviors.icon-button;
    }

    // Open Settings/Options
    #options-link {
      position: fixed;
      z-index: 2;
      right: 0;
      bottom: 0;

      @include common.icon-instead(map.get(icons.$icons, "settings"));
      @include behaviors.icon-button;
    }

    #reset-link,
    #wipe-link,
    #getTheApp-link {
      display: none;
    }

    a[href="changelog.txt"] {
      position: absolute;
      top: calc(var(--font-size-base) * 1);
      left: calc(var(--font-size-base) * 7);

      padding: 0 calc(var(--font-size-base) * 0.2);
      border: 1px solid var(--color-primary);
      border-radius: calc(var(--font-size-base) * 0.5);

      font-size: 0;
      color: transparent;

      background-color: var(--color-background);
      outline: 1px solid var(--color-background);

      #versionLink {
        font-size: calc(var(--font-size-base) / 2);
        color: var(--color-text);
      }
    }
  }
}
