@use "sass:map";
@use "../behaviors";
@use "../common";
@use "../icons";

@mixin root {
  display: contents;

  .container {
    display: contents;

    .currentGovernment {
      display: contents;

      padding: 0 !important;

      @include common.icon-before(map.get(icons.$icons, "leaderMake"), 1, 11, 13);
    }
  }

  // Name <span>, Trait (Bonus) [rank 12]
  .currentLeader:nth-child(1) {
    position: relative;

    display: grid;

    grid-row: 11 / 13;
    grid-column: 2 / 10;

    margin-bottom: 0 !important;
    margin-left: calc(var(--spacing-more) * -1);

    font-size: var(--font-size-smaller);

    color: var(--color-primary);

    cursor: default;
    user-select: none;

    clip-path: margin-box;

    // "Leader:" label
    >span:first-child {
      display: none;
    }

    // Name of the leader kitten.
    >span.name {
      grid-row: 1;

      padding: 0 0 0 var(--spacing-more) !important;
      margin-bottom: calc(var(--spacing-base) * -1);

      font-size: var(--font-size-base);

      color: var(--color-primary);

      cursor: default;
      user-select: none;
    }
  }

  // exp: 123.45K (12%)
  .currentLeader:nth-child(2) {
    z-index: 1;

    grid-row: 11 / 12;
    grid-column: 2 / 10;

    place-self: start end;

    margin: 0 !important;

    font-size: var(--font-size-smaller);

    color: var(--color-text-dim);

    cursor: default;
    user-select: none;

    transform: translateY(var(--spacing-most));
  }

  // Job bonus: x1.2 (Job)
  .currentLeader:nth-child(3) {
    grid-row: 10 / 11;
    grid-column: 3 / 10;

    place-self: end end;

    font-size: var(--font-size-smallest);

    color: var(--color-text-dim);

    text-align: right;

    cursor: default;
    user-select: none;

    transform: translateY(var(--spacing-most));
  }

  // Promote Leader
  .currentLeader + a {
    z-index: 2;

    grid-row: 11 / 12;
    grid-column: 2 / 10;

    color: var(--color-text);
  }

  // Unassign Leader
  .currentLeader ~ a {
    z-index: 2;

    grid-row: 11 / 13;
    grid-column: 1 / 2;

    color: var(--color-text);

    background-color: var(--color-background);

    opacity: 0;

    transition: opacity 1s;

    &:hover {
      opacity: 1;
    }

    @include common.icon-instead(map.get(icons.$icons, "leaderUnassign"));
  }

  .censusFilters {
    display: flex;

    grid-row: 13 / 14;
    grid-column: 2 / 10;

    justify-self: center;

    height: initial !important;

    margin-top: var(--spacing-more);

    line-height: 0;

    select {
      float: none !important;

      font-size: var(--font-size-smallest);

      color: var(--color-text-dimmer);

      text-align: center;

      cursor: pointer;
      user-select: none;

      border: none;
    }
  }

  // A kitten in the population.
  // Has 2 rows:
  //   1. Kitten information: Title/age/rank
  //   2. Interaction elements: Favorite/make leader
  .census-block {
    display: grid;

    grid-template-columns: subgrid;
    grid-column: 1 / 10;

    place-items: center center;

    margin-top: var(--spacing-base);

    >div:first-child {
      display: flex !important;

      flex-flow: row wrap;

      grid-row: 1 / 3;
      grid-column: 2 / 10;

      gap: 0 var(--spacing-base);

      .info {
        flex-basis: 1;

        font-size: var(--font-size-smallest);

        color: var(--color-text-dim);

        cursor: default;
        user-select: none;

        .name {
          font-size: var(--font-size-smaller);

          color: var(--color-text);

          cursor: default;
          user-select: none;
        }
      }

      .skill {
        font-size: var(--font-size-smallest);
        font-weight: initial !important;

        color: var(--color-text-dim);

        cursor: default;
        user-select: none;
      }

      br {
        display: none;
      }
    }

    .links-container {
      display: contents !important;

      span.btn.modern,
      a.unassignHref {
        display: grid;

        grid-row: 1 / 3;

        width: var(--font-size-base) !important;

        cursor: default;
        user-select: none;

        transition: opacity 1s;

        // Promote/upgrade
        &.promoteHref {
          grid-column: 9 / 10;

          @include common.icon-instead(map.get(icons.$icons, "promote"));
          @include behaviors.icon-button-pulse;
        }

        // Favorite kitten
        &.favoriteHref {
          grid-column: 2 / 3;

          @include common.icon-instead(map.get(icons.$icons, "favorite"));
          @include behaviors.icon-button(0);
        }

        // Make leader
        &.leaderHref {
          grid-column: 1 / 2;

          @include common.icon-instead(map.get(icons.$icons, "leaderMake"));
          @include behaviors.icon-button(0);
        }
      }

      // Unassign from job
      a.unassignHref {
        grid-column: 8 / 9;

        @include common.icon-instead(map.get(icons.$icons, "unassign"));
        @include behaviors.icon-button(0);
      }
    }

    &:hover {
      a.unassignHref,
      span.btn.modern.favoriteHref,
      span.btn.modern.leaderHref {
        opacity: 0.6;
      }
    }

    &.simLeader {
      display: contents;

      >div:first-child {
        display: flex !important;

        flex-wrap: wrap;

        grid-row: 13 / 14;
        grid-column: 2 / 10;

        gap: 0;
        justify-content: space-evenly;

        div.info {
          // #pragma ux_loss We no longer see the age of the leader kitten.
          display: none;

          .name {
            // We already have the name from the .currentLeader section.
            display: none;
          }
        }

        .skill {
          grid-row: 13 / 14;
        }
      }

      span.btn.modern,
      a.unassignHref {
        z-index: 2;

        grid-row: 11 / 13;
        grid-column: 8 / 9;

        align-self: end;
      }

      // We have the dedicated "Unassign leader" action already.
      span.btn.modern.leaderHref {
        display: none;
      }
    }
  }

  // Pagination
  .container > *:last-child {
    display: grid !important;

    grid-row: 14/15;
    grid-column: 2 / 10;

    justify-self: normal;

    width: initial !important;

    margin: 0 0 var(--spacing-base) 0 !important;

    font-size: var(--font-size-smallest);

    color: var(--color-text-dimmer);

    text-align: initial !important;

    cursor: default;
    user-select: none;

    .lastHref,
    .nextHref,
    .firstHref,
    .previousHref {
      float: none !important;

      visibility: visible !important;

      font-size: var(--font-size-smallest);

      color: var(--color-text-dimmest);

      text-decoration: none;

      cursor: pointer;
      user-select: none;
    }

    .firstHref {
      grid-row: 1;
      grid-column: 1/2;
    }

    .previousHref {
      grid-row: 1;
      grid-column: 2/3;
    }

    .nextHref {
      grid-row: 1;
      grid-column: 4/5;
    }

    .lastHref {
      grid-row: 1;
      grid-column: 5/6;
    }
  }

  &:has(.census-block.simLeader) {
    .censusFilters {
      grid-row: 14 / 15;
    }

    .container > *:last-child {
      grid-row: 15 / 16;
    }
  }
}
