@use "sass:map";
@use "../common";
@use "../icons";
@use "loadout";

@mixin job($row, $icon) {
  .btnContent {
    display: grid !important;

    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
    grid-row: $row;
    grid-column: 2 / 10;

    // Job Actions
    >div {
      display: contents !important;

      .linkContent {
        display: contents !important;
      }
    }
  }

  font-size: var(--font-size-base);

  color: var(--color-text);

  @include common.icon-before(map.get(icons.$icons, $icon), 1, $row);

  .btnTitle {
    @include common.debug-marker(1);

    grid-column: 1 / 9;

    user-select: none;
  }

  // Job Actions
  a.dropdown-link,
  .assignLink,
  .unassignLink {
    float: none !important;

    display: none !important;

    grid-row: $row;

    padding: 0 !important;

    font-size: calc(var(--font-size-base) * 0.5);

    line-height: calc(var(--font-size-base) * 0.5);

    color: var(--color-text);

    cursor: pointer;
    user-select: none;

    @include common.debug-marker(5);
  }

  .dropdown-link[title="[-all]"] {
    grid-column: 1;
  }

  .dropdown-link[title="[-25]"] {
    grid-column: 2;
  }

  .dropdown-link[title="[-5]"] {
    grid-column: 3;
  }

  .unassignLink {
    grid-column: 4;
  }

  .assignLink {
    grid-column: 5;
  }

  .dropdown-link[title="[+5]"] {
    grid-column: 6;
  }

  .dropdown-link[title="[+25]"] {
    grid-column: 7;
  }

  .dropdown-link[title="[+all]"] {
    grid-column: 8;
  }

  &:hover {
    a.dropdown-link,
    .assignLink,
    .unassignLink {
      display: block !important;
    }
  }
}

@mixin root {
  display: contents !important;

  // Unwrap contents
  .container {
    display: contents !important;

    // Loadout tools
    table {
      display: contents !important;

      tr {
        display: contents !important;

        td:first-child {
          display: none;
        }

        td:last-child {
          display: contents !important;

          font-size: 0;
        }
      }
    }
  }

  .loadout {
    @include loadout.root;
  }

  // Create Loadout
  td a.loadoutHref {
    @include common.icon-instead(map.get(icons.$icons, "loadoutCreate"));
    @include common.debug-marker(4);

    position: absolute;
    top: 0;
    right: 0;
    float: none !important;
  }

  // Actual Job assignments
  .container > .btn.modern {
    display: contents !important;

    // Woodcutter
    &[aria-description~="wood"] {
      @include job(2, "woodcutter");
    }

    // Farmer
    &[aria-description~="catnip"] {
      @include job(3, "farmer");
    }

    // Scholar
    &[aria-description~="science"] {
      @include job(4, "scholar");
    }

    // Hunter
    &[aria-description~="catpower"] {
      @include job(5, "hunter");
    }

    // Miner
    &[aria-description~="mineral"] {
      @include job(6, "miner");
    }

    // Priest
    &[aria-description~="faith"] {
      @include job(7, "priest");
    }

    // Geologist
    &[aria-description~="coal"] {
      @include job(8, "geologist");
    }

    // Engineer
    &[aria-description~="automate"] {
      @include job(9, "engineer");
    }

    // Clear job assignments
    &[aria-description~="all"] .btnContent {
      grid-row: 10 / 11;
      grid-column: 1 / 2;

      @include common.icon-instead(map.get(icons.$icons, "clear"));
      @include common.debug-marker(1);

      cursor: pointer;
      user-select: none;

      .btnTitle {
        display: none;
      }
    }
  }

  // This is a `clear: both` style div to control float-based layout.
  .container > :last-child {
    display: none;
  }
}
