@use "sass:map";
@use "../common";
@use "census";
@use "jobs";
@use "management";

@mixin village {
  position: relative;

  display: grid;

  grid-template-columns: repeat(10, calc(var(--font-size-base) + var(--padding-most)));

  align-items: center;

  .panelContainer {
    .toggle {
      display: none;
    }

    .title {
      display: none;
    }
  }

  // Jobs
  .panelContainer:nth-child(1) {
    @include jobs.root;
  }

  // Map (currently disabled in-game)
  // .panelContainer:nth-child(2) {}

  // Management
  .panelContainer:nth-child(3) {
    @include management.root;
  }

  // Census
  .panelContainer:nth-child(4) {
    @include census.root;
    @include common.debug-marker(3);
  }

  &:has(.currentLeader:hover) {
    .currentGovernment .currentLeader ~ a {
      opacity: 1;
    }

    .census-block.simLeader {
      span.btn.modern,
      span.btn.modern.favoriteHref,
      a.unassignHref {
        opacity: 1;
      }
    }
  }
}
